ion-card {
  max-width: 60rem;
  width: 97vw;
  padding: 0;
  margin: 1rem auto;
}

ion-item item-native {
  padding-left: 0;
}

.meals {
  max-width: 40rem;
  width: 100%;
  animation: meals-appear 1s ease-out forwards;
}

.meals ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

@keyframes meals-appear {
  from {
    opacity: 0;
    transform: translateY(3rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
