.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
}

.form ion-button {
  --background: #8a2b06;
  --color: white;
  --padding-top: 0.5rem;
  --padding-bottom: 0.5rem;
}

.form button:hover,
.form button:active {
  background-color: #641e03;
  border-color: #641e03;
}

.form ion-input {
  border: 1px solid black;
  padding: 0;
}
