.button {
  cursor: pointer;
  --background: #4d1601;
  --background-hover: #2c0d00;
  --background-activated: #2c0d00;
  margin-right: 1rem;
}

.button:hover,
.button:active {
  --background: #2c0d00;
}

.icon {
  width: 1.35rem;
  height: 1.35rem;
}

.badge {
  background-color: #b94517;
  padding: 0.25rem 0.5rem;
  border-radius: 50px;
  font-weight: bold;
}

.button:hover .badge,
.button:active .badge {
  background-color: #92320c;
}

.bump {
  animation: bump 300ms ease-out;
}

@keyframes bump {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(0.9);
  }
  30% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1.15);
  }
  100% {
    transform: scale(1);
  }
}
