.input {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}

.input ion-label {
  font-weight: bold;
  margin-right: 1rem;
}

.input ion-input {
  width: 3rem;
  max-width: 3rem;
  text-align: center;
  border-radius: 5px;
  border: 1px solid black;
  font: inherit;
  padding-left: 0.5rem;
}
